{% extends "base.html" %}
{% block content %}
<br>

<div class="container-fluid">
		{% for job in job_offers %}





                                        <div class="card bg-light text-dark">
                                            <div class="card-body">
                                                <img src="{{ job.added_by.logo.url |default_if_none:'default_logo.png' }}" class="img-tumbnail" width="40" float="left">   
                                                <h4 class="card-title d-inline"><a href="{% url 'job-detail' job.id %}">{{job.title}}</a></h4> |
                                                <p class="card-text d-inline">{{job.min_salary}} - {{job.max_salary}} {{jobs.salary_type}}</p> |
                                                <p class="card-text d-inline ">{{job.experience_type}}</p> |
                                                <p class="card-text d-inline ">{{job.area_type}}</p> |
                   
                                           <p class="card-text d-inline"><a href="{% url 'company-detail' job.added_by.id %}" class=" text-success font-italic">{{job.added_by.company_name}}</a></p>
                                   
                                    
                                                <a href="{% url 'job-detail' job.id %}" class="btn btn-secondary btn-sm float-right">View details</a>
                                            </div>
                                        </div>  
                                        <br>



		{% endfor %}
</div>
{% endblock content %}
